	body{
		background-color: white;
		font-family: myFirstFont;
	}
	.signup_container{
		width: 1200px;
		height: 600px;
		margin:  50px auto;

		/*margin top: 50px;*/
		background-color: white;
		border-radius: 20px;
	}

	.header{
		font-family: "Pacifico";
		font-size:30px;
		position: absolute;
		margin-left: 20px;
		color: #205AFF;
	}

	.main_img{
		margin-top: -130px;
		position: relative;

	}

	@font-face{
		font-family: myFirstFont;
		src:url(Poppins-Regular.otf);

	}
	@font-face{
		font-family: mySecondFont;
		src:url(Poppins-Bold.otf);
	}
	.welcome{
		font-family: myFirstFont;
		margin-left:500px;
		margin-top: 40px;
		position: absolute;
		color: #205AFF;
		font-size: 25px;
		
	}
	.signup{
		margin-top: 130px;
		margin-left: 715px;
		
	}
	.signup_form{
		margin-left: 700px;
		margin-top: 140px;
		position: absolute;
	}

	input[type=text],
	input[type=password]{
		width: 400px;
		padding: 10px;
		display: inline-block;
		border:1px solid e3e3e3;
		border-top: none;
		border-left: none;
		border-right: none;
		margin: 10px;
	}

	::placeholder{
		font-size: 15px;
		font-family: myFirstFont;

	}

	.login{
		padding: 10px;
		border-radius: 5px;
		background-color: #205AFF;
		border:none;
		color: white;
		width: 400px;
		font-size: 20px;
		font-family: myFirstFont;
		margin-top: 35px;
		text-align: center;
		margin-left: 30px;
	}

	.show_text{
		color: #1C377C;
		margin-left: 390px;
		margin-top: -40px;
		position: absolute;
	}
	.forgot_password{
		margin-top: -10px;
		margin-left: 300px;
	}

	.add_info{
		margin-left: 43px;
		font-size: 12px;
	}

	.image{
		margin-top: 150px;
		margin-left: 40px;
		position: absolute;
	}
	.alt_sign{
		margin-left: 120px;
		font-size: 15px;
		color: #205AFF;
	}
	.instagram{
		margin-left: 30px;
		margin-top: 0px;
		position: absolute;
	}
	.linkedin{
		margin-left: 90px;
		margin-top: 0px;
	}
	.twitter{
		margin-left: 30px;
		margin-top: 0px;
	}

	.social{
		margin-left: 140px;
	}

	.special_text{
		color:#1C377C; 
	}
	
