body{
    font-size: x-small;
    width: 100%;
    min-height: 100%;
}

div#container {
   margin: 70px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25), 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

h1{
   
    padding: 0 10px;
    font-family: 'Pacifico', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #205AFF;
    margin-bottom: 0;
    padding-bottom: 0;
}
div#container{
    margin-top: 0;
    padding-top: 0;
}

#center_heading {
    text-align: center;
    font-family: "Avenir";
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
   
    

    color: #205AFF;
}
.view{
    width: 50%;
    
}
form {
    margin-top: 50px;
}

.display{
  display: flex;   
}

.display:after{
  content: "";
  display: table;
  clear: both;
}

[signup] input[type="text"], 
[signup] input[type="password"]{
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: none;
    width: 80%;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
    margin-bottom: 3px;
    overflow: hidden;
    height: 40px;
    margin-left:  auto;
    margin-right:  auto;
}

[signup] input[type="submit"]{
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 80%;
    margin-top: 20px;
    margin-left:  auto;
    padding: 13px;
    margin-right:  auto;
    color: #fff;
    background: #205AFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

img {
    width: 80%;
    margin-left:  50px;
    
}

[footer]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 80%;
    margin-left:  auto;
    margin-right:  auto;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    opacity: 0.6;
}

a {
    text-decoration: underline;
}
@media screen and (max-width: 600px){
    .display{
        display: block;
    }
   
}
@media screen and (max-width: 800px){
    
    .view{
      width: 100%;
    }
    div#container {
        margin: 20px;}
        
   
}

